html {
  --themecolor: #54a3d8;
}
body, #volumebar > div:nth-child(1) {
  background: #ddd;
}
#main > div {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, .3);
}
.label {
  background: #eee;
}
.videobar, #navbar {
  background: #fff;
}
#navbar, #navbar .videobar {
  border-bottom: 3px solid var(--themecolor);
}
#navbar, #video, #navbar .videobar {
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
#video {
  border-top-left-radius: 20px;
  overflow: hidden;
}
a, #navbar > div > span > span, #learnmore > div:nth-child(3) > div > span, #findstation, #query, #navbar > div > div > button, input[type="number"], .smartmenu {
  color: #222;
}
#main > div, #modals > div {
  background: #fff;
  color: #222;
  border-bottom: 3px solid var(--themecolor);
  border-radius: 20px 0 20px 0;
}
#modals > div, #video {
  border-top: 3px solid var(--themecolor);
}
rect {
  fill: #222;
}
#hint > div {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
input {
  background: #fff;
  color: #222;
}
#footer, #addfooter {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
.button:hover, #navbar > div > div > button:hover {
  color: var(--themecolor);
}
.button:active, #navbar > div > div > button:active {
  background: var(--themecolor);
  color: #fff;
}
#addstation > div > div:nth-child(1), select, input:not(#query) {
  border-bottom: 2px solid rgba(0, 0, 0, .5) !important;
}
#modals {
  background: rgba(0, 0, 0, .5);
}
#volumeline, #volumecircle {
  background: #222;
}
#visualization > div {
  background: #000;
}
#progressbar {
  background: var(--themecolor);
}
