body, #volumebar > div:nth-child(1) {
  background: #ddd;
}
.label {
  background: #eee;
}
#navbar {
  background: rgba(34, 34, 34, .9);
/*   border-bottom: 3px solid #54A3D8; */
}
#navbar > div > span > span, #navbar > div > div > button {
  color: #fff;
}
a, #learnmore > div:nth-child(3) > div > span, #findstation, #query, input[type="number"] {
  color: #222;
}
#logo {
  filter: invert(100%);
}
#main > div, #modals > div {
  background: #fff;
  color: #222;
}
#hint > div {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
input {
  background: #fff;
  color: #222;
}
#footer, #addfooter {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
.button:hover, #navbar > div > div > button:hover {
  color: #54a3d8;
}
.button:active, #navbar > div > div > button:active {
  background: #54a3d8;
  color: #fff;
}
#addstation > div > div:nth-child(1), select, input:not(#query) {
  border-bottom: 2px solid rgba(0, 0, 0, .5) !important;
}
#modals {
  background: rgba(0, 0, 0, .5);
}
#volumeline, #volumecircle {
  background: #222;
}
#visualization > div {
  background: #000;
}
#progressbar {
  background: #54A3D8;
}
