html {
  --themecolor: #54a3d8;
}
body, #volumebar > div:nth-child(1) {
  background: #333;
}
.red {
  color: #0ff;
}
.green {
  color: #ff7fff;
}
.label.green {
  background: #ff7fff;
  color: #000;
}
.label.red {
  background: #0ff;
  color: #000;
}
.label {
  background: #555;
}
#navbar {
  background: rgba(255, 255, 255, .9);
}
#navbar > div > span > span, #navbar > div > div > button, .button-primary {
  color: #000;
}
a, #learnmore > div:nth-child(3) > div > span, #findstation, #query, input[type="number"], #tomove {
  color: #fff;
}
rect {
  fill: #222;
}
#main > div, #modals > div {
  background: #444;
  color: #fff;
}
#hint > div {
  background: rgba(255, 255, 255, .9);
  color: #000;
}
select, input {
  background: #444;
  color: #fff;
}
select:-moz-focusring {
  text-shadow: 0 0 0 #fff;
}
tr:hover .smartmenu {
  background: #3d3d3d;
}
#footer, #addfooter, .videobar {
  background: rgba(255, 255, 255, .9);
  color: #000;
}
.button:hover, #navbar > div > div > button:hover {
  color: var(--themecolor);
}
.button:active, #navbar > div > div > button:active {
  background: var(--themecolor);
  color: #fff;
}
#addstation > div > div:nth-child(1), select, input:not(#query) {
  border-bottom: 2px solid rgba(255, 255, 255, .5) !important;
}
#modals {
  background: rgba(0, 0, 0, .5);
}
#volumeline, #volumecircle {
  background: #eee;
}
#progressbar {
  background: var(--themecolor);
}
