#volumebar > div:nth-child(1) {
  background: #ddd;
}
.label {
  background: #eee;
}
#main > div, #modals > div {
  background: #fff;
}
#footer, #addfooter {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
#hint > div {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
#navbar {
  background: #222;
  color: #fff;
}
#navbar > div > div > button, input[type="number"] {
  color: #fff;
}
#modals {
  background: rgba(0, 0, 0, .5);
}
.button {
  border-radius: 0;
}
.button:hover, #addstation > div > div:nth-child(1), select, input:not(#query) {
  border-bottom: 2px solid rgba(0, 0, 0, .5) !important;
}
.button:active {
  opacity: .5;
}
#learnmore > div:nth-child(3) > div > span {
  color: #222;
}
.relaxed #main > div {
  color: #fff;
}
input {
  color: #333;
}
#progressbar {
  background: #fff;
}
