*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT");
  outline-offset: -1px;
}

::before,
::after {
  --tw-content: "";
}

html {
  font-family: theme("fontFamily.sans");
}

body {
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
  white-space: nowrap;
}

h1,
h2 {
  font-weight: inherit;
}

button,
input,
select {
  border-radius: 0;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

button,
input {
  background-color: transparent;
  color: inherit;
}

p {
  margin: 0;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video {
  display: block;
  vertical-align: middle;
}

[hidden] {
  display: none;
}
