:root {
  --rad-theme-color: cornflowerblue;
}
#app {
  background: #ddd;
}
.slider {
  background: #555;
}
.slider > div {
  background: #c2c2c2;
}
hr {
  background: rgba(255, 255, 255, 0.333);
}
.label,
.drop-zone {
  background: #eee;
}
nav {
  background: rgba(34, 34, 34, 0.9);
}
nav > div > span > span,
nav > div > div > button,
.button-primary,
.media-controls a,
#logo {
  color: #fff;
}
a,
#find-station,
#query,
input[type="number"],
#drawers button {
  color: #222;
}
main > div,
#drawers > div {
  background: #fff;
  color: #222;
}
#toast > div {
  background: #222;
  color: #fff;
}
input,
.modal {
  background: #fff;
  color: #222;
}
.station-row.dragging {
  background: #ddd;
}
#bottom-drawer,
.media-controls {
  background: rgba(34, 34, 34, 0.9);
  color: #fff;
}
#search > :nth-child(4) > :first-child,
input:not(#query),
.month-separator {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
#drawers,
#app.fullscreen {
  background: #fff;
}
#app:not(.colorful) #visualization > div {
  background: #000;
}
#progress-bar {
  background: var(--rad-theme-color);
}
.media-controls .label {
  background: #444;
  color: #fff;
}
.hotkey-tile {
  background: rgba(0, 0, 0, 0.1);
}
.modal {
  box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.2);
}
