@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/FiraSans-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/FiraSans-Medium.woff2) format("woff2");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: inherit !important;
    cursor: pointer;
    text-decoration: inherit;
    white-space: nowrap;
  }

  button {
    border: none;
    font-family: inherit;
    margin: 0;
    background-color: transparent;
    color: inherit;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      transition: none !important;
    }
  }
}

@layer components {
  .icon {
    display: inline-block;
    vertical-align: -0.125em;
    transition: opacity 200ms, transform 400ms;
  }

  a .icon {
    opacity: 0.7;
  }

  a:hover .icon {
    opacity: 1;
  }
}

* {
  outline: 0;
}
#app.no-transitions *,
#app.no-transitions *::before,
#app.no-transitions *::after {
  transition: none !important;
}
:root {
  cursor: default;
}
body {
  font-family: Fira Sans, sans-serif;
  margin: 0;
  overflow-x: hidden !important;
  user-select: none;
}
body.no-overflow {
  overflow-y: hidden;
}
#app {
  min-height: 100vh;
  overflow-x: hidden;
  transition: background 2s;
}
#app.fullscreen {
  position: absolute;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  transition: none;
}
h1,
h2 {
  font-weight: normal;
}
.bg-dim {
  background-color: var(--rad-dim-color);
}
.important {
  color: #f00;
}
.highlighted {
  color: #008000;
}
.label.highlighted {
  background: #008000;
  color: #fff;
}
.label.important {
  background: #f00 !important;
  color: #fff;
}
input {
  margin: 0;
}
#logo path {
  opacity: 0.7;
  transition: opacity 0.2s;
}
:hover > #logo path {
  opacity: 1;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
}
#app.no-navbar nav {
  transform: translateY(-100%);
}
.navbar-content {
  max-width: 800px;
  width: calc(100% - 120px);
  padding: 0 10px;
  overflow: hidden;
}
#logo {
  height: 36px;
  vertical-align: middle;
  padding: 7px 0 7px 4px;
}
.navbar-content > span {
  float: left;
  font-size: 22px;
  cursor: pointer;
  white-space: nowrap;
  width: 0;
}
.navbar-content > span > span {
  vertical-align: middle;
}
.navbar-content > div {
  float: right;
  white-space: nowrap;
}
input {
  border-radius: 0;
}
input[type="number"] {
  background: transparent;
  border: none;
  font-size: 18px;
  width: 70px;
  font-family: inherit;
  text-align: center;
}
main > div {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.relaxed {
  cursor: none !important;
}
.relaxed #page,
.relaxed #dialog-layer {
  opacity: 0 !important;
  pointer-events: none !important;
}
.button-group {
  padding: 10px 0;
}
.button-primary {
  padding: 5px;
  cursor: pointer;
}
.button-primary:hover {
  text-decoration: underline;
}
#app.fullscreen #video {
  width: 100%;
  transform: none;
  border-top: none;
  border-top-left-radius: 0;
}
#app.fullscreen #video {
  height: 100vh;
  transition: margin 0.3s, max-width 0.3s;
}
#app.fullscreen #media-container {
  height: 100%;
}
#app.fullscreen .media-controls .button-primary,
#app.fullscreen .station {
  font-size: 27px;
  color: #fff;
}
.navbar-content > :last-child {
  transform: translateX(30px);
  width: calc(100% + 20px);
  opacity: 0;
  pointer-events: none;
  padding: 0 20px 20px 20px;
  overflow-y: hidden;
}
#app.fullscreen .media-controls {
  padding: 20px 15px;
  width: calc(100% - 30px);
  position: absolute;
  background: rgba(34, 34, 34, 0.9);
}
.dialog #dialog-layer {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.5);
}
input[type="number"] {
  border-radius: 0;
}
main {
  max-width: 820px;
  height: calc(100% - 50px);
  text-align: center;
}
main > div {
  padding: 0 60px 20px 60px;
}
.list-name[disabled],
#editor input[disabled],
.tag-input input[disabled] {
  color: inherit;
  border-bottom: 2px solid transparent !important;
}
.list-name,
#editor input,
.tag-input input {
  border: none;
  font-size: 20px;
  font-family: inherit;
  background: none;
  width: calc(100% - 20px);
}
#editor input,
.tag-input input {
  margin-bottom: 10px;
}
.dragging {
  cursor: grabbing;
}
.dragging * {
  cursor: inherit !important;
}
.playing .play-button,
.station-row:hover .play-button {
  opacity: 1;
}
.playing .station-icon,
.station-row:hover .station-icon {
  filter: blur(5px);
}
p {
  padding: 10px 0;
}
#page {
  position: relative;
  z-index: 1;
  transition: margin-left 0.3s, opacity 0.3s;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}
.description {
  font-size: 15px;
  opacity: 0.7;
}
.button-primary {
  font-size: 18px;
}
.button-primary,
#page {
  transition: opacity 0.3s;
}
.button-primary,
nav,
main > div {
  transition: padding-left 0.3s, width 0.3s;
}
#app.fullscreen .broadcaster {
  line-height: normal;
}
#app.fullscreen .media-controls > :first-child {
  display: none;
}
a.active {
  color: var(--rad-primary-color) !important;
  font-weight: bold;
}
a.active .icon {
  opacity: 1;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.label:empty {
  display: none;
}
.label {
  padding: 0.2em 0.6em 0.3em;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 12px;
}
input:not(#search-field input):focus,
#search-field:focus-within {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--rad-primary-color) !important;
}
h4 {
  margin-top: 0;
}
input {
  vertical-align: middle;
}
@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.relaxed #relax-caption {
  visibility: visible;
  opacity: 1;
}
#app.fullscreen #toast {
  transform: scale(1.5);
}
#app.fixed-player nav {
  border-bottom: none;
}
#app.fixed-player .navbar-content > :last-child {
  opacity: 1;
  pointer-events: all;
}
#app.fixed-player #video .media-controls {
  opacity: 0;
}
#app.fixed-player #video {
  box-shadow: none;
}
main,
.navbar-content {
  transition: all 0.3s;
}
#page,
nav {
  display: flex;
}
#page::before {
  content: "";
  width: calc(50% - 460px);
  min-width: calc(50% - 460px);
  transition: all 0.3s;
}
main {
  flex: 1;
}
nav::before {
  content: "";
  width: calc(50% - 460px);
  min-width: calc(50% - 460px);
  transition: all 0.3s;
}
.navbar-content {
  flex: 1;
  overflow: visible;
  padding: 0 60px;
}
.navbar-content > :last-child {
  padding: 0 0 20px 0;
  margin: 0 20px;
}
.dialog #page {
  opacity: 0.5;
}
#app.dialog {
  overflow-y: hidden;
}
@media (min-width: 1024px) and (max-width: 1230px) {
  #app.dialog nav button > span {
    display: none;
  }
}
@media (min-width: 1024px) {
  body:not(.relaxed) {
    overflow-y: auto;
  }
  #app.dialog {
    overflow-y: auto;
  }
  #app.dialog #page {
    opacity: 1;
    filter: none;
  }
  #app.dialog.fullscreen #video {
    margin-left: 470px;
    max-width: calc(100% - 470px);
  }
  #app.dialog #page::before,
  #app.dialog nav::before {
    min-width: 470px;
  }
  #app.dialog #dialog-layer {
    pointer-events: none;
    background: none;
  }
}
@media (min-width: 821px) {
  main {
    padding: 0 50px;
  }
  #app:not(.fullscreen) main > div {
    margin: 100px 0 50px 0;
  }
}
#app.fullscreen nav {
  z-index: 4;
  transition: transform 0.5s;
  box-shadow: none;
}
#app.fullscreen main > div {
  border: none;
  box-shadow: none;
}
#app.fullscreen #video {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-top: none;
}
#app.fullscreen #main-controls {
  margin-top: 100vh;
}
#app.fullscreen #dialog-layer {
  z-index: 5;
}
@media (max-width: 820px) {
  #app:not(.fullscreen) main {
    margin-top: 50px;
  }
  main > div {
    min-height: calc(100vh - 70px);
  }
  nav {
    box-shadow: none !important;
  }
  #app:not(.has-video) nav {
    border-bottom: none !important;
  }
  .navbar-content {
    padding: 0 10px;
  }
  main > div {
    border-bottom: none !important;
    border-radius: 0 !important;
  }
  #app:not(.has-video) #video {
    border-top: none !important;
  }
}
@media (max-width: 680px) {
  .navbar-content > div > button > span {
    display: none !important;
  }
}
@media (max-width: 600px) {
  main > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
