:root {
  color-scheme: dark;
  --rad-primary-color: cornflowerblue;
  --rad-dim-color: #555;
}
#app,
.slider {
  background: #333;
}
.slider > div {
  background: #c6c6c6;
}
hr {
  background: rgba(255, 255, 255, 0.333);
}
@media screen and (max-width: 820px) {
  #app:not(.has-video) #video:not(.fs) .media-controls {
    border-bottom: 3px solid var(--rad-primary-color);
  }
}
main > div {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background: #444;
  border-bottom: 3px solid var(--rad-primary-color);
  border-radius: 10px 0 10px 0;
}
.label {
  background: #555;
}
#drawers .label:not(.highlighted),
.drop-zone {
  background: #ddd;
}
.media-controls,
nav,
#app.fullscreen {
  background: #444;
}
nav,
nav .media-controls {
  border-bottom: 3px solid var(--rad-primary-color);
}
nav,
#video,
nav .media-controls {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#video {
  border-top-left-radius: 10px;
  overflow: hidden;
}
a,
.navbar-content > span > span,
.navbar-content > div > button,
input[type="number"],
.media-controls,
#logo {
  color: #fff;
}
#drawers a,
#search-field input,
#find-station {
  color: #000;
}
main > div {
  color: #fff;
}
#video {
  border-top: 3px solid var(--rad-primary-color);
}
#toast > div {
  background: #fff;
  color: #000;
}
input,
.modal {
  background: #444;
  color: #fff;
}
#drawers input,
#drawers button {
  color: #000;
}
.station-row.dragging {
  background: #3d3d3d;
}
#drawers,
#banner {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  color: #000;
  color-scheme: light;
}
input:not(#search-field input) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
#search > :nth-child(4) > :first-child,
#drawers input:not(#search-field input),
.month-separator {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
#progress-bar {
  background: var(--rad-primary-color);
}
.hotkey-tile {
  background: rgba(0, 0, 0, 0.1);
}
.modal {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.2);
}
