:root {
  color-scheme: dark;
  --rad-primary-color: cornflowerblue;
  --rad-dim-color: #555;
}
#app {
  background: #333;
}
.slider {
  background: #bbb;
}
.slider > div {
  background: #484848;
}
hr {
  background: rgba(0, 0, 0, 0.2);
}
.important {
  color: #0ff;
}
.highlighted {
  color: #ff7fff;
}
.label.highlighted {
  background: #ff7fff;
  color: #000;
}
.label.important {
  background: #0ff !important;
  color: #000;
}
.label,
.drop-zone {
  background: #555;
}
nav {
  background: rgba(255, 255, 255, 0.9);
}
.navbar-content > span > span,
.navbar-content > div > button,
.button-primary,
.media-controls a,
#logo {
  color: #000;
}
a,
#find-station,
#search-field input,
input[type="number"],
#drawers button {
  color: #fff;
}
main > div,
#drawers > div {
  background: #444;
  color: #fff;
}
#toast > div {
  background: #fff;
  color: #000;
}
input,
.modal {
  background: #444;
  color: #fff;
}
.station-row.dragging {
  background: #3d3d3d;
}
#bottom-drawer,
.media-controls {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}
#search > :nth-child(4) > :first-child,
input:not(#search-field input),
.month-separator {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
#drawers,
#app.fullscreen {
  background: #444;
}
#progress-bar {
  background: var(--rad-primary-color);
}
.media-controls .label {
  background: #ddd;
  color: #000;
}
.hotkey-tile {
  background: rgba(255, 255, 255, 0.1);
}
.modal {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.2);
}
